/* Reset*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #252b42;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/*-------------mine content width ---------------------------------------------*/
._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  box-sizing: content-box;
}

/*------------ -header-------------------------------------------------------- */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

.header__logo {
  font-style: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: inherit;
}

.header__menu {
  margin-left: 133px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap-reverse;
}

.menu__item {
}

.menu__item:not(:last-child) {
  margin-right: 21px;
}
.menu__link {
  color: #737373;
  line-height: calc(24 / 14 * 100%);
  letter-spacing: 0.2px;
  font-weight: 500;
}
