/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


.arial {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.fontsize {
	font-size: 30px;
	 /* font-size: 40px; */
} 

.fontstyle {
	 font-style: italic; 
	/* font-style: normal; */
	/* font-style: oblique; */
}

.fontweight {
	 font-weight: 700; 
	/* font-weight: 100; */
	/* font-weight: 300; */
	/* font-weight: 400; */
	 /* font-weight: 500;  */
	/* font-weight: 600; */
	 /* font-weight: 900;  */
}

.colored {
	/* color: darkblue; */
	color: #8a2be2
}

.textalign{
	 text-align: right; 
	 /* text-align: center; */
	/*text-align-last: left;*/
} 

.textalignjustify {
	text-align: justify;
	/* text-align: center; */
	/* text-align: right; */
	/*text-align-last: left;*/
}

.decoration {
	 text-decoration: underline; 
	/* text-decoration: overline; */
	/* text-decoration: line-through; */
	/* text-decoration: none; */
}

.shadow {
	font-size: 40px;
	text-shadow: 5px 5px 5px #770a6e; 
	/* text-shadow: 8px 10px 2px #20bb12; */
	
}

.texttransform {
	 text-transform: uppercase; 
	/* text-transform: capitalize; */
	/* text-transform: lowercase; */
}

.indent {
	text-indent: 50px; 
	/* text-indent: 100px; */
}

.letterspacing {
	letter-spacing: 5px;
	/* letter-spacing: 10px; */
}

.wordspacing {
	 word-spacing: 5px; 
	 /* word-spacing: 40px;  */
}

.whitespace {
	 white-space: nowrap; 
	/* white-space: normal; */
}

.lineheight {
	line-height: 30px;
	/* line-height: 10px; */
}


